UpwardWebApp/.vscode/*
UpwardWebApp/.vscode
UpwardWebApp/bin/*
UpwardWebApp/obj/*
UpwardApi/bin/*
UpwardApi/obj/*
UpwardApp/bin/*
UpwardApi/obj/*
DemoProject/Client/obj/*
DemoProject/Client/bin/*
DemoProject/Server/obj/*
DemoProject/Server/bin/*
UpwardApi/Migrations/*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

*.out