@{
    Layout="_EmptyLayout";
}
<style>
    textarea{
        height: 240px;
    }
</style>
<div class=" container text-center">
    <div class="row"  style="max-width:960px;margin-bottom:12px;">
    <div>
    <label>替换表达式</label>
    <input id="inputRegex" type="text" value="//">
        <label>新值</label>
    <input id="inputNewValue" type="text" value="">
    <input id="cbxGlobal" type="checkbox" checked="true" style="margin-left:24px;">
    <label>全局匹配</label>
</div>
    </div>


<div class="row" style="max-width:960px;">

<textarea id="textareaOrigin" class=" col-md-5">

</textarea>

<button type="button" class="btn btn-primary col-md-2"
 onclick="btnReplaceArticleClick()" style="max-width:96px;margin:0px 12px;vertical-align:middle;">替换</button>

<textarea id="textareaNew" class=" col-md-5">

</textarea>
</div>
</div>

  @section Scripts
        {
            <script lang="javascript" type="text/javascript">
/*
*
*/
function btnReplaceArticleClick()
{
    var originStr=$("#textareaOrigin").val();
    var isGlobal=$("#cbxGlobal").prop("checked");

    var newValue=$("#inputNewValue").val();
    var newStr="";
    var regexStr=$("#inputRegex").val();
    if(isGlobal){
      newStr=originStr.replace(new RegExp(regexStr,'gm'),newValue);
    }else{
    newStr=originStr.replace(regexStr,newValue);
    }

    $("#textareaNew").prop("value",newStr);
}

                       $(function() {

                       })
            </script>
        }