        <footer>
            <br/>
            <p class=" text-center ">&copy; 2017 - Langdexuming</p>
            <p class=" text-center "><img src="~/images/home/beian.png">备案/许可证编号为：粤ICP备17118546号</p>
        </footer>