<style>
    .poster .title {
        margin-top: 120px;
        opacity:1;
        color:#fff;
    }
</style>

<div class="poster">
    <div>
        <img src="~/images/home/pexels-photo-banner-index.jpeg" class=" img-responsive">
        <div class=" text-center title animated infinite bounce">欢迎来到我的博客，您可以随便逛逛&nbsp;</div>
        <div class="ibox-content">
            <div class="spiner-example">
                <div class="sk-spinner sk-spinner-wave">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
            </div>
        </div>
    </div>
</div>
