@model Reggie.Blog.Models.Sample

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<h2>Create</h2>

<h4>Sample</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="onsubmitHandler()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control sr-only" />
                <div class="summernote form-control"></div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewUrl" class="control-label"></label>
                <input asp-for="ViewUrl" class="form-control" />
                <span asp-validation-for="ViewUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceUrl" class="control-label"></label>
                <input asp-for="SourceUrl" class="form-control" />
                <span asp-validation-for="SourceUrl" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreateDateTime" class="control-label"></label>
                <input asp-for="CreateDateTime" class="form-control" />
                <span asp-validation-for="CreateDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdateDateTime" class="control-label"></label>
                <input asp-for="LastUpdateDateTime" class="form-control" />
                <span asp-validation-for="LastUpdateDateTime" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script lang="javascript" type="text/javascript">

    function onsubmitHandler() {
        //不管用
        //var description = $('.summernote').summernote('code');

        var description = $("form .note-editable")[0].innerHTML;
        $("input[name=Description]").val(description);
    }

    $(function () {
        var description = $("input[name=Description]").val();
        $(".summernote").summernote({
            lang: 'zh-CN',
            placeholder: "请输入内容",
        });

        //不管用
        //$(".summernote").summernote("code", description);

        $("form .note-editable")[0].innerHTML = description;
    });
</script>
}

