@{
    Layout="_IndexLayout";
    @model Reggie.Blog.Models.InformalEssay;
    ViewData["Title"]="Langdexuming' Reggie.Blog, create the informal essay";
}
    <div id="informalEssay">
        <div>
            <h3>添加随笔</h3>
        </div>
        <form id="informalEssayForm" role="form">
            <div class=" form-group">
                <label>标题</label>
                <input id="inputTitle" name="title" type="text" class="form-control" style="max-width:1080px;">
            </div>
            <div class=" form-group">
                <label>内容</label>
                <div class="content">
                    <div name="message" class="summernote">
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="informalEssaySubmitClick()">发布</button>
        </form>
    </div>

    @section Scripts 
{
    <script lang=”javascript” type="text/javascript">
/*
 * 随笔发布
 *
 */
function informalEssaySubmitClick(){
var element=$("#informalEssayForm .note-editable");
var content=element["0"].innerHTML;

    var title = $('#inputTitle').val();
    if (title.IsNullOrEmpty()) {
        alert("请输入随笔标题！");
        return;
    }

    if (content.IsNullOrEmpty()) {
        alert("请输入随笔内容！");
        return;
    }

    var informalEssay={
    };
    informalEssay.title=title;
    informalEssay.message=content;

          //域内请求
    var options = {
        //随笔
        url: '/Home/CreateInformalEssay',
        type: 'post',
        //contentType: 'application/json',
        dataType: 'text',
        data: informalEssay,
        //data: $("#informalEssayForm").serialize()+"&message="+content,
        success: function(data) {
            if (data.length > 0) {
                console.log('请求成功，数据长度为:' + data.length);
                //解析Json字符串
                var dataObj = eval("(" + data + ")");

                // console.log(dataObj.title);
                // console.log(dataObj.message);
                // console.log(dataObj.userName);
                // console.log(dataObj.createDateTime);
                // console.log(dataObj.sourceType);
            window.location.href="/Home/index"; 
            }
        }
    };

    $.ajax(options);
}

/*
 * 
 *
 */
$(function() {
            $('.summernote').summernote({
                lang: 'zh-CN'
            });
    });

    </script>
}